.card {
  width: 100%;
  max-width: 270px;
  height: 70px;
  background: #f5f4f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* backdrop-filter: blur(10px); */
  transition: 0.00001s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: rgb(13, 11, 11);
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 14px;
  font-weight: bold;
}

.p {
  font-size: 13px;
  font-weight: lighter;
  margin: 0 5px;
}

.card-text {
  width: 100%;
  max-width: 270px;
  /* height: 70px; */
  background: #f5f4f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* backdrop-filter: blur(10px); */
  transition: 0.00001s;
}
.text-message{
  width: 100%;
  text-align: left;
  margin-left: 8px;
  margin-top: 8px;
  
}
.user-name{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.message{
  padding: 0;
  margin: 0;
}
.time{
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
.msg{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  margin-bottom: 10px;
}