.container {
    display: flex;
    justify-content: center;
    
}

.input {   
    max-width: 190px;
    width: 10px;
    height: 10px;
    outline: none;
    margin: 5px;
    transition: .5s;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: rotate(90deg);
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: center;
    font-size: medium;

  }

  
  input:focus {
    width: 60px;
    transform: rotate(0);
    justify-content: center;
  }