.card-right{
    display: flex;
    margin: 10px;
}
.card-text-right{
    margin-left: 10px;
}
.button-right{
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid  #bebebc;
    /* margin-top: 5px; */
    margin: 5px  0;
    padding: 5px 20px;
    cursor: pointer;
}
.button-right:hover{
    background-color: #ebebeb;
}